html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #f5e7e7;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
navbar {
    color: aliceblue;
    background: black;
}
footer {
    color: aliceblue;
    background: black;
    text-decoration: none;
}


