@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agenda Digital</h1>
    <h2>Práctica en C# .Net Framework</h2>

    <div>
        <img style="height: 500px;" src="https://i.pinimg.com/564x/2a/54/be/2a54be7005220d468612fabe1ce8602b.jpg"></img>
    </div>
</div>
